# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pyc

.idea
build
.autotools
.cproject
.project
.settings
.DS_Store
nkit4py.egg-info
dist
.pydevproject
deps/nkit/src/nkit/detail/config.h
deps/nkit/src/nkit/version.h
deps/nkit/src/version.cpp
